<div class="container-fluid center">
  <div class="row hero">
    <div class="col-md-12">
      <img src="localscraveit.jpg">
      <div><h1>Curated travel itineraries by local trendsetters</h1></div>
    </div></div>
    <div class="row how it works title padding-inside-bottom-sm padding-inside-top-sm">
      <div class="col-md-12">
        <h2>How It Works</h2>
      </div>
    </div>
    <div class="row howitworks padding-inside-bottom-md">
      <div class="col-md-4">Usually, traveling to a new city requires hours of hard work, only to fall trap to tourist destinations. Wouldn't it be nice to walk a day in the shoes of a local?</div>
      <div class="col-md-4">We find awesome locals (just like you!) who are willing to share their favorite things to do in the city. Our  local tour guides aren't just normal locals - they are also social media trendsetters</div>
      <div class="col-md-4">Our tour guides have prepared curated itineraries of what to do for a specific city - so dive in, take a look, and don't be scared!</div>
    </div>

    <div class="row">
      <div class="col-md-6 padding-inside-top-sm padding-inside-bottom-sm">
<a href="/guides/" class="btn btn-warning">See Tour Guides</a></div>

<div class="col-md-6   padding-inside-top-sm padding-inside-bottom-sm">
  <a href="/days" class="btn btn-warning">See Days</a></div>

    </div>
    <div class="row footer">
      <div class="col-md-12"><h4>-By Lucia Liu. aka Lovely Lucia-</h4></div>
    </div>
  </div>
